# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE project settings directory.
.idea

# Ignore project builds directory 
bin

# Ignore errors log files
.log

# Ignore run-velocity/paper cache directory
run
